<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net48" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net48" />
  <package id="DD4T.Core" version="2.5.0" targetFramework="net48" />
  <package id="DD4T.Model" version="2.5.0" targetFramework="net48" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>